@import "fonts";

@keyframes fadeInHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInSecondary {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInListSummary {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes openSlideAnimation {
  0% {
    transform: translateX(2500px);
  }
  100% {
    transform: translateX(0px);
  }
}

@mixin experience-text {
  font: {
    family: 'neutra_text_light', sans-serif;
    weight: 200;
    size: 18.5px;
    style: normal !important;
  }
}

@mixin main-image-desktop {
  width: 80%;
  height: 620px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 5%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin experience-link-title {
  .experience__link--container {
    width: 130px;
    text-align: center;
    color: black;
    text-transform: uppercase;
    margin-top: 30px;

    .experience__link--title {
      font: {
        family: 'neutra_display_light', sans-serif;
        weight: 400;
        size: 30px;
      }
      margin: 0;
      @media (max-width: 1400px) {
        font-size: 25px;
      }
      @media (max-width: 1300px) {
        font-size: 22px;
      }
      @media (max-width: 1200px) {
        font-size: 20px;
        margin: 0 auto;
        max-width: 100px;
      }
      @media (max-width: 1100px) {
        font-size: 30px;
        margin: 0 auto;
        max-width: 200px;
      }
      @media (max-width: 810px) {
        font-size: 24px;
        margin: 0 auto;
        max-width: 200px;
      }
      @media (max-width: 720px) {
        font-size: 30px;
        margin: 0 auto;
        max-width: 200px;
      }
      @media (max-width: 520px) {
        font-size: 25px;
        margin: 0 auto;
        max-width: 200px;
      }
      @media (max-width: 416px) {
        font-size: 22px;
        margin: 0 auto;
        max-width: 200px;
      }
    }

    .experience__link--underline {
      border: 0;
      border-top: 1px solid #8c8b8b;
      width: 90px;
      margin-top: 10px;
    }

    .experience__link--entry {
      font: {
        family: 'neutra_text_bold', sans-serif;
        weight: 200;
        size: 19px;
      }
      @media (max-width: 1400px) {
        font-size: 17px;
      }
      @media (max-width: 1300px) {
        font-size: 15px;
      }
      @media (max-width: 1200px) {
        font-size: 13px;
      }
      @media (max-width: 1100px) {
        font-size: 20px;
      }
      @media (max-width: 520px) {
        font-size: 18px;
      }
      @media (max-width: 420px) {
        font-size: 16px;
      }
      @media (max-width: 360px) {
        font-size: 14px;
      }
      @media (max-width: 340px) {
        font-size: 12px;
      }
    }
  }
}

main.main-page {
  position: fixed;
  display: flex;
  overflow-x: hidden;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #00451a;
  background: -moz-linear-gradient(-45deg, #00451a 0%, #add444 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #00451a), color-stop(100%, #add444));
  background: -webkit-linear-gradient(-45deg, #00451a 0%, #add444 100%);
  background: -o-linear-gradient(-45deg, #00451a 0%, #add444 100%);
  background: -ms-linear-gradient(-45deg, #00451a 0%, #add444 100%);
  background: linear-gradient(135deg, #00451a 0%, #add444 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00451a', endColorstr='#add444', GradientType=1);
  @media (max-width: 1100px) {
    position: relative;
  }

  .main-page__content {
    display: flex;
    width: 100%;
    padding: 110px 0 0 81px;
    @media (max-width: 1100px) {
      padding: 0 0 0 50px;
    }

    .intro {
      @media (max-width: 1100px) {
        width: 100%;
      }

      &__title {
        color: white;

        &--container-headline {
          animation: fadeInHeader 1.5s 1 forwards;
          -webkit-animation: fadeInHeader 1.5s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadeInHeader 1.5s 1 forwards; /* Firefox < 16 */
          -ms-animation: fadeInHeader 1.5s 1 forwards; /* Internet Explorer */
          -o-animation: fadeInHeader 1.5s 1 forwards; /* Opera < 12.1 */
          transition: opacity 1500ms ease 0s;
          max-width: 369px;

          .intro__title--headline {
            font: {
              family: 'Neutra display', sans-serif;
              weight: 100;
              size: 66px;
            }
            line-height: 71px;
            margin-bottom: 0;
            @media (max-width: 1100px) {
              font-size: 5.3em;
              line-height: 1.1em;
            }
            @media (max-width: 520px) {
              font-size: 40px;
              line-height: 1.1em;
            }
            @media (max-width: 520px) {
              font-size: 40px;
              line-height: 1.1em;
            }
          }
        }

        &--secondary {
          font: {
            family: 'Neutra text', sans-serif;
            weight: 600;
            style: italic;
            size: 31px;
          }
          animation: fadeInSecondary 1.5s 1 forwards;
          -webkit-animation: fadeInSecondary 1.5s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadeInSecondary 1.5s 1 forwards; /* Firefox < 16 */
          -ms-animation: fadeInSecondary 1.5s 1 forwards; /* Internet Explorer */
          -o-animation: fadeInSecondary 1.5s 1 forwards; /* Opera < 12.1 */
          transition: opacity 1500ms ease 0s;
          margin-top: 20px;
        }

        &--list {
          list-style: none;
          padding-left: 0;
          line-height: 20px;
          animation: fadeInListSummary 1.5s 1 forwards;
          -webkit-animation: fadeInListSummary 1.5s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadeInListSummary 1.5s 1 forwards; /* Firefox < 16 */
          -ms-animation: fadeInListSummary 1.5s 1 forwards; /* Internet Explorer */
          -o-animation: fadeInListSummary 1.5s 1 forwards; /* Opera < 12.1 */
          transition: opacity 1500ms ease 0s;
          @include experience-text;
        }

        &--summary {
          line-height: 20px;
          max-width: 716px;
          animation: fadeInListSummary 1.5s 1 forwards;
          -webkit-animation: fadeInListSummary 1.5s 1 forwards; /* Safari, Chrome and Opera > 12.1 */
          -moz-animation: fadeInListSummary 1.5s 1 forwards; /* Firefox < 16 */
          -ms-animation: fadeInListSummary 1.5s 1 forwards; /* Internet Explorer */
          -o-animation: fadeInListSummary 1.5s 1 forwards; /* Opera < 12.1 */
          transition: opacity 1500ms ease 0s;
          @include experience-text;
        }
      }

      .experience__responsive {
        display: none;
        @media (max-width: 1100px) {
          display: flex;
        }
      }
    }

    .experience {
      width: 100%;
      @media (max-width: 1100px) {
        display: none;
      }

      .experience__choice {
        display: flex;
        width: 85%;
        bottom: 50px;
        position: relative;
        @media (max-width: 1100px) {
          width: 100%;
        }
        @media (max-width: 720px) {
          flex-direction: column;
          left: 25px;
        }
        @media (max-width: 520px) {
          left: 13px;
        }

        .experience__perfume {
          background-image: url("../assets/images/main/exp2title.png");
          @include main-image-desktop;
          @include experience-link-title;
          transition: all 0.5s ease 0s;
          will-change: auto;

          &:hover {
            transform: scale(1.1);
          }

          @media(max-width: 500px) {
            height: 420px;
          }

        }

        .experience__perfume--animation {
          animation: openSlideAnimation 1.5s 1 ease-in-out;
        }

        .experience__perfume--animation-none {
          animation: none !important;
        }

        .experience__essence {
          background-image: url("../assets/images/main/exp1title.png");
          @include main-image-desktop;
          @include experience-link-title;
          transition: all 0.5s ease 0s;
          will-change: auto;

          &:hover {
            transform: scale(1.1);
          }

          @media(max-width: 520px) {
            height: 420px;
          }
        }

        .experience__essence--animation {
          animation: openSlideAnimation 2s 1 ease-in-out;
        }

        .experience__essence--animation-none {
          animation: none !important;
        }
      }
    }
  }
}
