@font-face {
  font-family: 'Neutra display';
  src: url("fonts/NeutraDisplay-Thin.otf") format("opentype");
  font-weight: 100;
}

@font-face {
  font-family: 'Neutra display';
  src: url("fonts/NeutraDisplay-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: 'Neutra display';
  src: url("fonts/NeutraDisplay-Bold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: 'Neutra display';
  src: url("fonts/NeutraDisplay-Light-Italic.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: 'Neutra display';
  src: url("fonts/NeutraText-BookItalic.otf") format("opentype");
  font-weight: 400;
}

.smellMenu-page {
  top: 0;
  left: 0;

  .smellMenu__title {
    font: {
      weight: normal;
      family: 'Neutra display', sans-serif;
      style: italic;
      size: 30pt;
    }
    padding-left: 40%;
    line-height: 71px;
    margin-bottom: 2%;
    margin-top: 5%;
  }
  .smellMenu__carousel {
   margin: 50px 50px 10px 0px;
  }
  .smellMenu__footer{
    position: fixed;
    left: 0; bottom: 0;
  .smellMenu__footer__text{
    text-transform: uppercase;
    font: {
      weight: 200;
      family: 'Neutra display', sans-serif;
      size: 30pt;
    }
    padding-left: 3%;
  }
  .smellMenu__footer__mane{
    font: {
      weight: 200;
      family: 'Neutra display', sans-serif;
      size: 12pt;
    }
    padding-left: 3%;
  }
  .smellMenu__footer__left{
    position: fixed;
    left: 0; bottom: 0;
  }
  .smellMenu__footer__right{
    position: fixed;
    width: 300px;
    right: 0; bottom: 1%;
  }
  .smellMenu__footer__right_item{
    font: {
      weight: 200;
      family: 'Neutra display', sans-serif;
      size: 12pt;
    }
    padding-right: 5%;
  }
}
.smellMenu__svg{
  padding-left: 35%;
  padding-top: 5%;
}
.smellMenu__text__perfume{
  font: {
    weight: bold;
    family: 'Neutra display', sans-serif;
    size: 14pt;
  }
  padding-left: 40%;
}
}