@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-Light.eot');
    src: url('NeutraText-Light.eot?#iefix') format('embedded-opentype'),
        url('NeutraText-Light.woff') format('woff'),
        url('NeutraText-Light.ttf') format('truetype'),
        url('NeutraText-Light.svg#NeutraText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'neutra_textlight';
    src: url('neutra_textlight.eot');
    src: url('neutra_textlight.eot?#iefix') format('embedded-opentype'),
        url('neutra_textlight.woff') format('woff'),
        url('neutra_textlight.ttf') format('truetype'),
        url('neutra_textlight.svg#neutra_textlight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutra Text';
    src: url('NeutraText-Light_1.eot');
    src: url('NeutraText-Light_1.eot?#iefix') format('embedded-opentype'),
        url('NeutraText-Light_1.woff') format('woff'),
        url('NeutraText-Light_1.ttf') format('truetype'),
        url('NeutraText-Light_1.svg#NeutraText-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

